.footer{
    width :100%;
    padding :6rem 0;
    background-color: rgba(19,19,19,0.8);
}

.footer-container{
max-width: 1140px;
margin: auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.left{
height: auto;
flex : 1 1 300px;
margin: 30px;
}

.left h4{
    text-align: justify;
}

.location{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
}

.location p{
    line-height :auto;
}

.right{
    text-align: justify;
    height: auto;
    flex: 1 1 300px;
    margin: 30px;
}

.social{
    align-self: end;
    margin-top: 1rem;
}

h4{
    font-size: 1.5rem;
    padding-bottom:0.5rem;
}

p{
    font-size: 1.2rem;
}

/*@media screen and(max-width: 640px)
{

}*/