.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin :auto;
    display : grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding-bottom: 5rem;
}

.project-card{
    background : #1a1919;
    padding:0% 1.2rem 1rem;
}

.project-card img {
    padding-top: 5%;
    width: 100%;
    height: 45vh;
}

.project-title{
    color: #fff;
    padding :1rem 0;
}

.pro-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btns .btn{
    padding: 0.5rem 1rem;
}


@media screen and (max-width :840px){
    .project-container{
        max-width: 50%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    
    .project-card img {
        padding-top: 5%;
        width : 100%;
        height:auto;
    }
}