{% extends 'base.html' %}

{% block content %}

<h1>
    {{ message }}
</h1>

<div class="card content shadow border border-dark-subtle border-opacity-10 rounded-4 mt-4 mb-5 p-3" style="background-color: transparent;">
    <div class="card-header" style="background: none;">
        <h2>Satyam Kumar Prasad</h2>
    </div>
    <div class="card-body">
        <h4 class="card-title">About me</h4>
        <ul class="card-text">
            <li>I'm from India persuing a 5 year integrated course of B. Tech - M. Tech in computer Science and Engineering specializing in Cybersecurity in National Forensic Sciences University and this is my portfoilio site, Saty-saurus</li><br/>
            <li>Aspiring software developer who fell in love with coding early in school days. Starting with a foundation in C, C++, Java, I am constantly working to improve my skills and build projects that make a difference. Excited to collaborate with others and learn from experienced developers, I am actively seeking new opportunities to challenge myself and grow in this field.</li><br/>
            <li>With a strong fascination for the evolving fields of artificial intelligence, machine learning, and deep learning, I am particularly drawn to the challenges and innovations in image-based learning. My focus lies in working on projects involving OpenCV, where I explore the intricacies of computer vision. I am deeply invested in understanding how advanced AI algorithms can be leveraged for real-time image processing, object detection, and recognition, while pushing the boundaries of how machines interpret and learn from visual data.</li><br/>
            <li>As an active participant in hackathons, I thrive in the fast-paced environment where innovation meets problem-solving. These experiences have not only led to several wins but have also significantly contributed to my growth as a developer. Hackathons push me to collaborate with diverse teams, learn new technologies under tight deadlines, and creatively solve real-world challenges. The competitive nature sharpens my coding skills, while the exposure to various industries enhances my ability to develop impactful, practical solutions. </li><br/>
        </ul>       
    </div>

    <div class="card-body">
        <h4 class="card-title">Skills</h4>
        <ul class="card-text">
            <li><strong>Languages: </strong>C, C++, Java, Python, JavaScript, HTML, CSS, C#</li>
            <li><strong>Frameworks: </strong>ReactJS, NodeJS, ExpressJS, TailwindCSS, MaterialUI, Flask, TensorFlow, PyTorch, OpenCV</li>
            <li><strong>Tools: </strong>Tools: Git, GitHub, VSCode, Postman, Firebase, MySQL, Vercel</li>
            <li><strong>Forensic/Cysec Tools: </strong>nmap, FTK Imager, Helix, Stellar, Wireshark, Volatality, Autopsy, Passware, UPX, Stegnography</li>
            <li><strong>Skills: </strong>Blender, AudaCity, Web Developement Machine Learning, Deep Learning, Neural Networks, Computer Vision, Natural Language Processing</li>
            <li><strong>Other: </strong>Data Structures, Algorithms, OOP, Databases, Web Development, Cybersecurity, AI Model Training, Data Preprocessing, Image-based Learning, AI-driven Solutions</li>
        </ul>       
    </div>

    <div class="card-body">
        <h4 class="card-title">Experiences</h4>
        <ul class="card-text">
            {% for experience in experiences %}
            <li>
                <div class="card-title"><h5>{{ experience.title }}</h5></div>
                <div class="card-subtitle">{{ experience.desp }}</div>
                <div class="card-text">{{ experience.duration }} {{ experience.total_months }} mos</div>
                <div class="card-text">{{ experience.Location }}</div><br/>
            </li>
            {% endfor %}
        </ul>       
    </div>

    <div class="card-body">
        <h4 class="card-title">Education</h4>
        <ul class="card-text">
            <li>
                <strong>National Forensic Sciences University, Delhi, New Delhi, India</strong>
                <br/> B. Tech - M. Tech in Computer Science and Engineering specializing in Cybersecurity integrated 5 year course 
                <br/>2021 - 2026</li>
        </ul>       
    </div>

</div>

{% endblock %}