{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mb-5">
    <div class="card mb-5" style="background-color: transparent; outline: none; border: none;">
        <h1>Hi, I am <span id="role" class="dynamic-text"></span></h1>
    </div>

    <div class="content card border border-dark-subtle border-opacity-10 mb-5 rounded-4 shadow p-4" style="background-color: transparent;">
        <h3>I like to : </h3>
        {% for intro in intros %}
        <h5>{{intro}}
            {% if intro == "📫 Connect with me : " %}
            <a href="{{url_for('contact')}}">Contacts</a>
            {% endif %}
        </h5>
        {% endfor %} 

    </div>

    <div class="card mt-5" style="background-color: transparent; outline: none; border: none;">
        <h3>Projects</h3>
    </div>
    
    <div class="container mt-2">
        <div class="row d-flex justify-content-around">
            {% for repo in repos %}
            <div class="content shadow border border-dark-subtle border-opacity-10 rounded-4 card m-2" style="width: 18rem; background-color: transparent;">
                <div class="card-body">
                  <h5 class="card-title mb-3"><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a> </h5>
                  <h6 class="card-subtitle text-body-secondary">{{ repo.full_name }}</h6><p class="card-text"><small class="text-body-secondary">{{ repo.created_at }}</small></p>
                  <p class="card-text"><strong>Description:</strong> {{ repo.description }}</p>
                  <p class="card-text"><strong>Language:</strong> {{ repo.language }}<br></p>
                  <p class="card-text"><strong>Forks:</strong> {{ repo.forks_count }}<br></p>
                  <!-- <p class="card-text"><strong>Commits:</strong> {{ repo.commit_count }}<br></p> -->
                  <p class="card-text"><small class="text-body-secondary">Last updated on {{ repo.updated_at }}</small></p>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>

    <a class="icon-link icon-link-hover d-flex justify-content-end" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="{{ url_for('project') }}">
        ...more
    </a>
</div>

<script src="{{url_for('static', filename='js/index.js')}}"></script>

{% endblock %}